clr-icon {
  margin-top: 8%;
  opacity: 0.3;
  filter: alpha(opacity=30); /* For IE8 and earlier */
}

clr-icon:hover {
  margin-top: 8%;
  opacity: 8.0;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}
