.td-title {
  text-align: right;
  width: 150px;
  font-weight: bold;
  background-color: rgba(63, 122, 231, 0.863);
  color: white;
}

.td-content {
  text-align: left;
}

.td-content img {
  border: 4px solid rgb(201, 230, 242);
  border-radius: 50%;
}
