.td-title {
  text-align: right;
  width: 150px;
  font-weight: bold;
  background-color: rgb(228, 225, 188);
}

.td-content {
  text-align: left;
}

img {
  border: 2px solid #245;
  border-radius: 5px;
}