<clr-main-container>
  <clr-header class="header-5">
    <div class="branding">
      <a href="javascript://" class="nav-link">
        <cds-icon shape="vm"></cds-icon>
        <span class="title">App [layout.component.html]</span>
      </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
      <a href="javascript://" class="active nav-link nav-icon" routerLink="/">
        <cds-icon shape="home"></cds-icon>
      </a>
      <a href="javascript://" class="nav-link nav-icon">
        <cds-icon shape="folder"></cds-icon>
      </a>
    </div>
    <form class="search">
      <label for="search_input">
        <input id="search_input" type="text" placeholder="Search for keywords...">
      </label>
    </form>
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-text" clrDropdownTrigger>
          <cds-icon shape="user"></cds-icon>
          <cds-icon shape="angle" rotation="180"></cds-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a href="javascript://" clrDropdownItem routerLink="/main/about">About</a>
          <a href="javascript://" clrDropdownItem routerLink="/main/preference">Preferences</a>
          <a href="javascript://" clrDropdownItem (click)="onLogout()">Log out</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </clr-header>

  <div class="content-container">
    <main class="content-area">
      <router-outlet></router-outlet>
    </main>

    <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed" [clr-nav-level]="2">
      <clr-vertical-nav-group routerLinkActive="active">
        <cds-icon shape="user" clrVerticalNavIcon></cds-icon>
        Users
        <clr-vertical-nav-group-children>
          <a clrVerticalNavLink routerLink="./user" routerLinkActive="active">
            <cds-icon shape="user"></cds-icon> user list
          </a>
          <a clrVerticalNavLink routerLink="./normal/snorlax" routerLinkActive="active">
            <cds-icon shape="bar-chart"></cds-icon> report
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <clr-vertical-nav-group routerLinkActive="active">
        <cds-icon shape="flame" clrVerticalNavIcon></cds-icon>
        Fire
        <clr-vertical-nav-group-children>
          <a clrVerticalNavLink routerLink="./fire/charmander" routerLinkActive="active">
            Charmander
          </a>
          <a clrVerticalNavLink routerLink="./fire/charizard" routerLinkActive="active">
            Charizard
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <clr-vertical-nav-group routerLinkActive="active">
        <cds-icon shape="bolt" clrVerticalNavIcon></cds-icon>
        Electric
        <clr-vertical-nav-group-children>
          <a clrVerticalNavLink routerLink="./electric/pikachu" routerLinkActive="active">
            Pikachu
          </a>
          <a clrVerticalNavLink routerLink="./electric/raichu" routerLinkActive="active">
            Raichu
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <a clrVerticalNavLink routerLinkActive="active" routerLink="/main/about">
        <cds-icon shape="certificate" clrVerticalNavIcon></cds-icon>
        Credit
      </a>
    </clr-vertical-nav>
  </div>

</clr-main-container>
